---
import CardProject from "../components/CardProject.astro";
import HeaderSection from "../layouts/HeaderSection.astro";
import { type Project, getProjects } from "../data/util";

let projects: Project[] = (await getProjects()) || [];
---

<section id="project" class="my-8 align-middle max-w-6xl mx-auto px-5">
  <HeaderSection title="Side Projects" />
  <div class="grid gap-4 md:grid-cols-2">
    {
      projects.map(({ default: project }) => (
        <CardProject
          title={project.title}
          subtitle={project.subtitle}
          img={project.img}
          description={project.description}
          tecnologie={project.tecnologie}
          github={project.github}
          demo={project.demo}
          npm={project.npm}
          slides={project.slides}
        />
      ))
    }
  </div>
</section>
