---
import SectionLayout from "../layouts/SectionLayout.astro";
import CardImage from "../components/CardImage.astro";

interface Project {
  default: {
    id: number;
    title: string;
    subtitle: string;
    img: string;
    description: string;
    tecnologie: string;
    github?: string;
    demo?: string;
    npm?: string;
    slides?: string;
  };
}

let projects: Project[] = [];
try {
  projects = await Astro.glob("../data/projects/*.json");
  // sort projects by id in ascending order
  projects.sort((a, b) => b.default.id - a.default.id);
} catch (e) {
  console.log(e);
}
interface Props {
  bgColor: string;
  textColor: string;
}
const { bgColor, textColor } = Astro.props;
---

<SectionLayout
  id="project"
  bgColor={bgColor}
  textColor={textColor}
  title="Side Project"
>
  <div class="grid gap-5">
    {
      projects.map(({ default: project }) => (
        <CardImage
          title={project.title}
          subtitle={project.subtitle}
          img={project.img}
          description={project.description}
          tecnologie={project.tecnologie}
          github={project.github}
          demo={project.demo}
          npm={project.npm}
          slides={project.slides}
        />
      ))
    }
  </div>
</SectionLayout>
