---
import CardProject from '../components/CardProject.astro'
import HeaderSection from '../layouts/HeaderSection.astro'
import { getProjects } from '../data/util'
import type { Locale, Project } from '../data/types'
const { currentLocale } = Astro

let projects: Project[] = (await getProjects(currentLocale as Locale)) || []
---

<section id='project' class='my-8 align-middle max-w-6xl mx-auto px-5'>
  <HeaderSection
    title={currentLocale === 'en' ? 'Side Projects' : 'Progetti'}
  />
  <div class='grid gap-4 md:grid-cols-2'>
    {
      projects.map(({ default: project }) => (
        <CardProject
          id={project.id}
          slug={project.slug}
          title={project.title}
          subtitle={project.subtitle}
          img={project.img}
          description={project.description}
          technologies={project.technologies}
          github={project.github}
          demo={project.demo}
          npm={project.npm}
          slides={project.slides}
        />
      ))
    }
  </div>
</section>
