---
import Panel from "../components/Panel.astro";
import CardSimple from "../components/CardSimple.astro";
import HeaderSection from "../layouts/HeaderSection.astro";
import {
  type TechnologyCategory,
  getTechnologies,
  getCategoryTitle,
  defaultSvg,
} from "../data/util";

const technologies = getTechnologies();
---

<section id="technologies" class="my-8 align-middle max-w-6xl mx-auto px-5">
  <HeaderSection title="Tecnologie" />
  {
    (Object.entries(technologies) as [TechnologyCategory, typeof technologies[TechnologyCategory]][]).map(
      ([category, techs]) => (
        <Panel title={getCategoryTitle(category)} class={category}>
          <div class="flex flex-wrap justify-center gap-3 md:gap-4">
            {techs.map(({ default: tech }) => (
              <CardSimple
                title={tech.title}
                bgColorIcon={tech.bgColorIcon}
                textColorIcon={tech.textColorIcon}
                className="tech-card w-28 sm:w-32 opacity-0 translate-y-4 transition-all duration-300 ease-out hover:-translate-y-1 hover:shadow-lg"
              >
                <Fragment set:html={tech.svg || defaultSvg} />
              </CardSimple>
            ))}
          </div>
        </Panel>
      )
    )
  }
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  function animateCards() {
    const cards = document.querySelectorAll(".tech-card");

    cards.forEach((card, index) => {
      gsap.to(card, {
        opacity: 1,
        y: 0,
        duration: 0.5,
        ease: "power2.out",
        scrollTrigger: {
          trigger: card,
          start: "top bottom-=100px",
          end: "bottom top+=100px",
          toggleActions: "play none none reverse",
        },
        delay: index * 0.05, // Staggered delay for each card
      });
    });
  }

  document.addEventListener("DOMContentLoaded", animateCards);
</script>

