---
import ProjectLinks from "./ProjectLinks.astro";

interface Props {
    id: number;
    slug: string;
    title: string;
    subtitle: string;
    description: string;
    tecnologie: string;
    img: string;
    github?: string;
    npm?: string;
    demo?: string;
    slides?: string;
}
const {
    id,
    slug,
    title,
    subtitle,
    description,
    tecnologie,
    img,
    github,
    npm,
    demo,
    slides,
} = Astro.props;
---

<div
    class="relative grid grid-cols-1 lg:grid-cols-3
    border-2
    border-border
	active:bg-palette1
	bg-palette1
	hover:bg-palette5
	transition-all
	hover:translate-x-[-4px]
	hover:translate-y-[-4px]
	hover:shadow-shadow
	hover:shadow-[4px_4px_0px_rgba(0,0,0,1)]"
>
    <!-- Link overlay che copre tutta la card -->
    <a
        href={`/projects/${slug}`}
        class="absolute inset-0 z-10"
        aria-label={`Vai al progetto ${title}`}></a>
    <div
        class="col-span-1 flex justify-center items-center
         bg-cover text-center overflow-hidden"
    >
        <img
            transition:name={`project-img-${id}`}
            src={img}
            alt={title}
            alt={title}
            class="h-48 object-cover"
        />
    </div>
    <div
        class="col-span-2 w-full border-border bg-bg text-text p-4 flex flex-col justify-between leading-normal"
    >
        <div class="mb-8">
            <p
                transition:name={`project-subtitle-${id}`}
                class="text-sm text-text flex items-center"
            >
                <svg
                    class="fill-current dark:text-gray-500 w-3 h-3 mr-2"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z"
                    ></path>
                </svg>
                {subtitle}
            </p>
            <div
                transition:name={`project-title-${id}`}
                class="text-text font-bold text-xl mb-2"
            >
                {title}
            </div>
            <p
                class="text-text text-sm"
                transition:name={`project-description-${id}`}
            >
                {
                    description.length > 200
                        ? description.slice(0, 60) + "..."
                        : description
                }
            </p>
        </div>
        <div class="flex items-center">
            <div class="text-sm w-full">
                <p class="text-text leading-none">
                    Tecnologie: {tecnologie}
                </p>
                <ProjectLinks
                    id={id}
                    github={github}
                    demo={demo}
                    npm={npm}
                    slides={slides}
                />
            </div>
        </div>
    </div>
</div>
