---
interface Props {
    title: string;
    subtitle: string;
    description: string;
    tecnologie: string;
    img: string;
    github?: string;
    npm?: string;
    demo?: string;
    slides?: string;
}
const { title, subtitle, description, tecnologie, img, github, npm, demo, slides } =
    Astro.props;
---
<div class='bg-gray-700 max-w-md w-full lg:max-w-full lg:flex shadow-md'>
    <div
        class='h-48 flex place-content-center align-top lg:h-48 lg:w-auto flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden'
    >
        <img src={img} {title} alt={title} class='h-48 w-48 object-cover' />
    </div>
    <div
        class='w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal'
    >
        <div class='mb-8'>
            <p class='text-sm text-gray-600 flex items-center'>
                <svg
                    class='fill-current text-gray-500 w-3 h-3 mr-2'
                    xmlns='http://www.w3.org/2000/svg'
                    viewBox='0 0 20 20'
                >
                    <path
                        d='M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z'
                    ></path>
                </svg>
                {subtitle}
            </p>
            <div class='text-gray-900 font-bold text-xl mb-2'>{title}</div>
            <p class='text-gray-700 text-base'>{description}</p>
        </div>
        <div class='flex items-center'>
            <div class='text-sm w-full'>
                <p class='text-gray-900 leading-none'>
                    Tecnologie: {tecnologie}
                </p>
                <p class='text-end text-blue-600'>
                    {
                        slides && (
                            <a class='underline mx-1' target="_blank" href={slides || '#'}>
                                slides
                            </a>
                        )
                    }
                    {
                        npm && (
                            <a class='underline mx-1' target="_blank" href={npm || '#'}>
                                npm
                            </a>
                        )
                    }
                    {
                        demo && (
                            <a class='underline mx-1' target="_blank" href={demo || '#'}>
                                demo
                            </a>
                        )
                    }
                    {
                        github && (
                            <a class='underline mx-1' target="_blank" href={github || '#'}>
                                github
                            </a>
                        )
                    }
                </p>
            </div>
        </div>
    </div>
</div>
