---
interface Props {
    title: string;
    bgColorIcon: string;
    textColorIcon: string;
    className: string;
}

const { title, bgColorIcon, textColorIcon, className } = Astro.props;
---

<div
    class=`cardSimple rounded bg-palette1 p-4 flex flex-col justify-center items-center ${className}`
>
    <div
        class={`w-10 h-10 inline-flex items-center justify-center rounded-full ${bgColorIcon} ${textColorIcon} mb-3 flex-shrink-0 p-2`}
    >
        <slot />
    </div>
    <h2
        class={`text-sm text-center title-font font-medium ${textColorIcon}`}
    >
        {
            title.split('\n').map((a) => {
                return <p class="mx-auto">{a}</p>
            })
        }
    </h2>
</div>
