---
type item = {
    url: string;
    title: string;
    img: string;
};
interface Props {
    socials: {
        github: item;
        gmail: item;
        linkedin: item;
    };
}
const { socials } = Astro.props;
---

<div class='flex justify-around w-full lg:w-1/2'>
    {
        Object.entries(socials).map(([key, { url, img, title }]) => (
            <a
                href={url}
                title={`${key} - Salvatore La Spata`}
                target='_blank'
                class='flex flex-col items-center w-20'
            >
                <img
                    class='size-10 mt-2'
                    src={img}
                    alt={`${key} social link`}
                />
                <p class='text-blue-500 underline'>{title}</p>
            </a>
        ))
    }
</div>
