---
// https://www.rfc-editor.org/rfc/rfc6350.html

import QRCode from 'qrcode'

import type {
  kindValue,
  commonTypeValue,
  telType,
  emailType,
  adrType,
  genderType,
  imppEntry,
  relatedEntry,
  langEntry,
  geoEntry,
  keyType,
} from './VCard'

const { currentLocale } = Astro
console.log('Current locale in VCard:', currentLocale)

class VCard {
  name: string
  surname: string
  additionalNames: string
  prefixes: string
  suffixes: string
  nickname: string
  fullname: string
  gender: genderType
  genderString: string
  birthday: Date
  tel: string
  mobile?: string
  fax?: string
  email: string
  title: string
  adr: adrType
  website: string
  works: {
    org: string
    department: string
    office: string
    workEmail: string
    tel?: string
    fax?: string
    pager?: string
    website: string
    adr?: adrType
  }[]
  note: string
  photo: string
  anniversary: Date | null
  uid: string
  langs: langEntry[]
  logo: string
  role: string
  related: relatedEntry[]
  impp: imppEntry[]
  tz: string
  geo: geoEntry | null
  categories: string[]
  sortAs: string
  rev: Date

  constructor() {
    this.name = 'Salvatore'
    this.surname = 'La Spata'
    this.additionalNames = '' // Second name
    this.prefixes = '' // es: Dr., Mr., Ms., etc.
    this.suffixes = '' // es: Jr., Sr., III, etc.
    this.nickname = 'Salvo'
    this.fullname =
      `${this.prefixes} ${this.name} ${this.surname} ${this.suffixes}`.trim()
    this.gender = 'M'
    this.genderString = ''
    this.birthday = new Date('1993-07-28')
    this.tel = '+39 3342561182'
    // this.mobile = '+39 06 12345678'
    // this.fax = '+39 06 87654321'
    this.email = 'salvatore.la.spata@gmail.com'
    this.title =
      currentLocale !== 'en' ? 'Ingegnere del Software' : 'Software Engineer'
    this.adr = {
      type: 'home',
      street: 'Via San Polo dei Cavalieri',
      city: 'Roma',
      region: 'RM',
      postCode: '00142',
      country: 'Italy',
    }
    this.website = 'https://salvatorelaspata.net'
    this.works = [
      {
        org: 'GoToNext SRL',
        department:
          currentLocale !== 'en' ? 'Sviluppo Software' : 'Software Development',
        office: 'Milano',
        workEmail: 'salvatore.laspata@gotonext.it',
        // tel: '+39 333 3333333',
        // fax: '+39 02 3333334',
        // pager: '+39 02 3333335',
        website: 'https://gotonext.it',
        adr: {
          type: 'work',
          street: 'Via Roma 10',
          city: 'Milano',
          region: 'MI',
          postCode: '20100',
          country: 'Italy',
        },
      },
      {
        org: 'CubeConsultants SRL',
        department: currentLocale !== 'en' ? 'Sviluppo SAP' : 'SAP Development',
        office: 'Roma',
        workEmail: 'salvatore.laspata@cubemail.it',
        // tel: '+39 333 4444444',
        // fax: '+39 06 4444445',
        // pager: '',
        website: 'https://cubemail.it',
        // adr: {
        //   type: 'work',
        //   street: 'Via Francesco 5',
        //   city: 'Roma',
        //   region: 'RM',
        //   postCode: '00100',
        //   country: 'Italy',
        // },
      },
    ]
    this.note =
      currentLocale !== 'en'
        ? `Sono un software engineer con esperienza in sviluppo soluzione SAP e sviluppo web. Amo la tecnologia e sono sempre alla ricerca di nuove sfide. Questa è la mia vCard, scaricala per avere tutte le mie informazioni di contatto in un unico posto!`
        : `I am a software engineer with experience in SAP solution development and web development. I love technology and am always looking for new challenges. This is my vCard, download it to have all my contact information in one place!`
    this.photo = 'https://salvatorelaspata.net/me.jpg'
    this.anniversary = null
    this.uid = 'urn:uuid:salvatore-la-spata-portfolio'
    this.langs = [
      { tag: 'it', pref: 1 },
      { tag: 'en', pref: 2 },
    ]
    this.logo = ''
    this.role = 'Full-Stack Developer'
    this.related = []
    this.impp = [{ uri: 'xmpp:salvatore.la.spata@gmail.com', pref: 1 }]
    this.tz = 'Europe/Rome'
    this.geo = { lat: 41.9028, lon: 12.4964 }
    this.categories = ['Software Engineer', 'SAP', 'Web Developer']
    this.sortAs = 'La Spata,Salvatore'
    this.rev = new Date()
  }

  generate() {
    let vcard = 'BEGIN:VCARD\r\n'
    vcard += this.getVERSION()
    vcard += this.getFN()
    vcard += this.getUID()
    vcard += this.getN(
      this.surname,
      this.name,
      this.additionalNames,
      this.prefixes,
      this.suffixes,
    )
    vcard += this.getKIND()
    vcard += this.getORG()
    vcard += this.getROLE()
    if (this.photo) vcard += this.getPHOTO()
    if (this.logo) vcard += this.getLOGO()
    this.langs.forEach(l => {
      vcard += this.getLANG(l)
    })
    this.related.forEach(r => {
      vcard += this.getRELATED(r)
    })
    this.impp.forEach(i => {
      vcard += this.getIMPP(i)
    })
    if (this.tz) vcard += this.getTZ()
    if (this.geo) vcard += this.getGEO()
    if (this.categories.length) vcard += this.getCATEGORIES()
    if (this.sortAs) vcard += this.getSORT_AS()
    vcard += this.getEMAIL('home', this.email)
    this.works.forEach(work => {
      vcard += this.getEMAIL('work', work.workEmail)
      if (work.tel) vcard += this.getTEL(['voice', 'work'], work.tel, work.org)
      if (work.fax) vcard += this.getTEL(['fax', 'work'], work.fax, work.org)
      if (work.pager)
        vcard += this.getTEL(['pager', 'work'], work.pager, work.org)
      if (work.adr)
        vcard += this.getADR(
          'work',
          work.adr.street,
          work.adr.city,
          work.adr.region,
          work.adr.postCode,
          work.adr.country,
          work.org,
        )
    })
    if (this.tel)
      vcard += this.getTEL(
        ['voice', 'home'],
        this.tel,
        undefined,
        currentLocale !== 'en' ? 'Mobile' : 'Mobile',
      )
    if (this.fax)
      vcard += this.getTEL(
        ['fax', 'home'],
        this.fax,
        undefined,
        currentLocale !== 'en' ? 'Fax' : 'Fax',
      )
    if (this.mobile)
      vcard += this.getTEL(
        ['cell', 'home'],
        this.mobile,
        undefined,
        currentLocale !== 'en' ? 'Telefono' : 'Landline',
      )
    vcard += this.getADR(
      'home',
      this.adr.street,
      this.adr.city,
      this.adr.region,
      this.adr.postCode,
      this.adr.country,
    )
    // if (this.works.length > 0 && this.works[0].adr)
    //  vcard += this.getADR(
    //    'work',
    //    this.works[0].adr.street,
    //    this.works[0].adr.city,
    //    this.works[0].adr.region,
    //    this.works[0].adr.postCode,
    //    this.works[0].adr.country,
    //    this.works[0].org,
    //  )
    vcard += this.getBDAY()
    vcard += this.getGENDER()
    vcard += this.getTitle()
    vcard += this.getNICKNAME()
    vcard += this.getURL('home', this.website)
    vcard += this.getURL('work', this.works[0].website)
    vcard += this.getNOTE()
    if (this.anniversary) vcard += this.getANNIVERSARY()
    vcard += this.getREV()
    vcard += 'END:VCARD\r\n'
    return vcard
  }

  private getVERSION(value: string = '4.0'): string {
    return `VERSION:${value}\r\n`
  }

  private getFN(): string {
    return `FN:${this.fullname}\r\n`
  }

  private getN(
    surname: string,
    name: string,
    additionalNames: string,
    prefixes: string,
    suffixes: string,
  ): string {
    return `N:${surname};${name};${additionalNames};${prefixes};${suffixes}\r\n`
  }

  private getKIND(value: kindValue = 'individual'): string {
    return `KIND:${value}\r\n`
  }

  private getBDAY(): string {
    const year = this.birthday.getFullYear()
    const month = String(this.birthday.getMonth() + 1).padStart(2, '0')
    const day = String(this.birthday.getDate()).padStart(2, '0')
    return `BDAY:${year}${month}${day}\r\n`
  }

  private getORG(): string {
    const { org, department } = this.works[0]
    return `ORG:${org}${department ? `;${department}` : ''}\r\n`
  }

  private getEMAIL(type: emailType, address: string): string {
    const typeStr = Array.isArray(type) ? type.join(',') : type
    const LABEL = type === 'home' ? 'Personal' : 'Work'
    return `EMAIL;${LABEL};TYPE=${typeStr}:${address}\r\n`
  }

  private getTEL(
    type: telType,
    number: string,
    org?: string,
    key?: string,
  ): string {
    const typeStr = Array.isArray(type) ? `${type.join(',')}` : type
    // TODO PREF TEL;TYPE=work,voice;PREF=1;VALUE=uri:tel:+39-333-3333333
    let LABEL = ''
    if (type.includes('home')) {
      LABEL = `${currentLocale !== 'en' ? 'Personale' : 'Personal'} (${key})`
    } else if (type.includes('work')) {
      LABEL = `${currentLocale !== 'en' ? 'Lavoro' : 'Work'} (${org})`
    }
    return `TEL;TYPE=${typeStr};PREF=39;${LABEL};VALUE=uri:${number}\r\n`
  }

  private getADR(
    type: commonTypeValue,
    street: string,
    city: string,
    region: string,
    postCode: string,
    country: string,
    org?: string,
  ): string {
    let label =
      type === 'home'
        ? currentLocale !== 'en'
          ? 'Personale'
          : 'Personal'
        : (currentLocale !== 'en' ? 'Lavoro' : 'Work') +
          (org ? ` (${org})` : '')
    return `ADR;${label};TYPE=${type}:;;${street};${city};${region};${postCode};${country}\r\n`
  }

  private getGENDER(): string {
    return `GENDER:${this.gender}${this.genderString ? `;${this.genderString}` : ''}\r\n`
  }

  private getTitle(): string {
    return `TITLE:${this.title}\r\n`
  }

  private getNICKNAME(): string {
    return `NICKNAME:${this.nickname}\r\n`
  }

  private getURL(type: commonTypeValue, url: string): string {
    let LABEL =
      type === 'home'
        ? currentLocale !== 'en'
          ? 'Personale'
          : 'Personal'
        : currentLocale !== 'en'
          ? 'Lavoro'
          : 'Work'
    return `URL;${LABEL};TYPE=${type}:${url}\r\n`
  }

  private getNOTE(): string {
    const escapedNote = this.note.replace(/\r\n/g, '\\n').replace(/\n/g, '\\n')
    return `NOTE:${escapedNote}\r\n`
  }

  private getUID(): string {
    return `UID:${this.uid}\r\n`
  }

  private getPHOTO(): string {
    return `PHOTO:${this.photo}\r\n`
  }

  private getLOGO(): string {
    return `LOGO:${this.logo}\r\n`
  }

  private getANNIVERSARY(): string {
    const d = this.anniversary!
    const year = d.getFullYear()
    const month = String(d.getMonth() + 1).padStart(2, '0')
    const day = String(d.getDate()).padStart(2, '0')
    return `ANNIVERSARY:${year}${month}${day}\r\n`
  }

  private getLANG(entry: langEntry): string {
    const pref = entry.pref ? `;PREF=${entry.pref}` : ''
    return `LANG${pref}:${entry.tag}\r\n`
  }

  private getROLE(): string {
    return `ROLE:${this.role}\r\n`
  }

  private getRELATED(entry: relatedEntry): string {
    return `RELATED;TYPE=${entry.type}:${entry.value}\r\n`
  }

  private getIMPP(entry: imppEntry): string {
    const pref = entry.pref ? `;PREF=${entry.pref}` : ''
    return `IMPP${pref}:${entry.uri}\r\n`
  }

  private getTZ(): string {
    return `TZ:${this.tz}\r\n`
  }

  private getGEO(): string {
    return `GEO:geo:${this.geo!.lat},${this.geo!.lon}\r\n`
  }

  private getCATEGORIES(): string {
    return `CATEGORIES:${this.categories.join(',')}\r\n`
  }

  private getSORT_AS(): string {
    return `SORT-AS:${this.sortAs}\r\n`
  }

  private getREV(): string {
    return `REV:${this.rev.toISOString()}\r\n`
  }
}
const vcard = new VCard()
const vcardContent = vcard.generate()
const vcardDataUri = `data:text/vcard;charset=utf-8,${encodeURIComponent(vcardContent)}`
const qrSvg = await QRCode.toString(vcardContent, {
  type: 'svg',
  errorCorrectionLevel: 'M',
})
---

<div class='flex flex-col items-center gap-4 w-full'>
  <a
    href={vcardDataUri}
    download={`${vcard.fullname}.vcf`}
    class='flex items-center gap-3 px-8 py-4
      border-2 border-border
      bg-palette2 text-white
      active:bg-palette4
      hover:bg-palette5
      transition-all
      hover:translate-x-[-4px] hover:translate-y-[-4px]
      hover:shadow-shadow hover:shadow-[4px_4px_0px_rgba(0,0,0,1)]
      cursor-pointer'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='w-6 h-6'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4'
      ></path>
    </svg>
    <span class='font-bold'>Download vCard</span>
  </a>
  <details class='text-center md:w-1/2 w-full rounded-lg p-4'>
    <summary
      class='cursor-pointer text-sm opacity-70 hover:opacity-100 transition-opacity select-none'
    >
      Scansiona il QR code
    </summary>
    <div
      class='mt-3 p-2 bg-white rounded-lg inline-block w-full'
      set:html={qrSvg}
    />
  </details>
</div>
